<form action="/new-contact" method="POST" class="userdetails full-width text-center"></form>
<h1 class="h3 mb-3 font-weight-normal">Add new-contact</h1>

<input type="text" name="name" class="form-control" placeholder="Name" required autofocus>
<input type="text" name="phone" class="form-control" placeholder="phone" required autofocus>
<button class="btn btn-lg btn-primary btn-block" type="submit">Add new-contact</button>

<form action="/createdb" method="POST" class="userdetails full-width text-center"></form>
<h1 class="h3 mb-3 font-weight-normal">Add new DataBase</h1>
<input type="text" name="dbname" class="form-control" placeholder="DataBase" required autofocus>
<button class="btn btn-lg btn-primary btn-block" type="submit">Add new dataBase</button>

<form action="/delete_contact" method="POST" class="userdetails full-width text-center"></form>
<h1 class="h3 mb-3 font-weight-normal">Enter phone number to delete new-contact</h1>
<input type="text" name="phone" class="form-control" placeholder="phone No." required autofocus>
<button class="btn btn-lg btn-primary btn-block" type="submit">Delete contact</button>

<form action="/view_contact" method="POST" class="userdetails full-width text-center"></form>
<h1 class="h3 mb-3 font-weight-normal">View_contact</h1>
<input type="text" name="phone" class="form-control" placeholder="phone No." required autofocus>
<button class="btn btn-lg btn-primary btn-block" type="submit">View_contact</button>





